body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0; padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0; padding: .5rem 0 0 0;
    line-height: 1.5;
}

.logo > img {
    border-radius: 50%;
}

header {
    z-index: 10;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 8rem;
    background: rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid #ddd;
}

header > .testeira {
    background-color: #56B856;
    height: 2.5rem;
}

@media screen and (max-width: 370px) {
    .h-content, .t-content { margin: 0 .5rem 0 .5rem; }
}

@media screen and (min-width: 371px) and (max-width: 1140px) {
    .h-content, .t-content { margin: 0 1rem 0 1rem; }
}

@media screen and (min-width: 1141px) {
    .h-content, .t-content { max-width: 1120px; margin: 0 auto; }
}

.t-item {
    float: left;
    overflow: hidden;
    margin: .5rem 2rem 0 0;
}

@media screen and (max-width: 520px) {
    .t-item.ts {
        display: none;
    }
}

.t-item > .t-icon,
.t-item > .t-text {
    color: white;
    float: left;
}

.t-item > .t-icon.fab {
    margin-top: .25rem;
}

.t-item > .t-text {
    margin: .25rem 0 0 .25rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.t-social {
    float: right;
    overflow: auto;
    margin-top: .75rem;
}

@media screen and (min-width: 521px) {
    .t-social.ts {
        display: none;
    }
}

.t-social > .t-icon {
    color: white;
    margin-right: 1rem;
}

.h-content {
    position: relative;
}

.h-content > .logo {
    float: left;
    overflow: auto;
}

.h-content > .logo > img {
    float: left;
    border-radius: 50%;
    height: 5.5rem; width: 5.5rem;
}

.h-content > .logo > .description {
    float: left;
    overflow: auto;
    margin-top: 1rem;
}

.h-content > .logo > .description > .title {
    display: block;
    margin-top: .5rem;
    color: #555;
    font-family: 'Charm', cursive;
    font-weight: bold;
    font-size: 18pt;
}

.h-content > .logo > .description > .subtitle {
    display: block;
    color: #555;
    font-family: 'Charm', cursive;
    font-size: 12pt;
    margin-top: -10px;
}

.h-content > ul {
    list-style: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    float: right;
    margin-right: .5rem;
}

.h-content > ul > li {
    float: left;
    margin-left: 3rem;
}

.h-content > ul > li > a {
    display: block;
    padding: 1rem 0 1rem 0;
    font-family: 'Open Sans', serif;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.h-content > ul > li > a:HOVER {
    color: #8bc34a ;
}

main {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 8.5rem;
    min-height: 1000px;
}

.i-default {
    color: #888;
}

.s-region-top {
    padding-top: 0;
}

.s-region {
    padding: 3rem 1rem 3rem 1rem;
    overflow: auto;
    border-bottom: 1px solid #eee;
}

.s-region > .s-left,
.s-region > .s-right {
    float: left;
    width: 50%;
    overflow: hidden;
    padding-bottom: 1rem;
}

.salt {
    padding-top: 3rem;
}

@media screen and (max-width: 820px) {
}

.s-title > h1,
.s-title > h2,
.s-title > h3,
.s-title > h4,
.s-title > h5,
.s-title > h6 {
    position: relative;
    padding-left: 70px;
    font-family: 'Norican', cursive !important;
    color: #57b957;
    font-size: 18pt;
    font-weight: normal;
    display: block;
}

.s-title > label {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    display: block;
    padding: 0 5rem 0 0;
}

.s-title > h1:BEFORE,
.s-title > h2:BEFORE,
.s-title > h3:BEFORE,
.s-title > h4:BEFORE,
.s-title > h5:BEFORE,
.s-title > h6:BEFORE {
    position: absolute;
    top: 17px;
    left: 0px;
    width: 50px;
    height: 2px;
    content: '';
    background: #57b957;
}

.s-description {
    display: block;
    font-family: 'Open Sans', sans-serif;
    list-style: 1.5;
    padding: 0 5rem 0 0; margin: 0;
    margin-top: 1rem;
    text-align: justify;
    color: #888;
}

.testimonial-person {
    color: #333; font-size: 112.5%;
}

.s-person {
    float: right;
    background-image: url('../images/person2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    height: 75%;
}

.s-image {
    width: 50%;
    float: left;
    margin: 1rem 0 1rem 0;
}

.s-image > img {
    width: 100%;
}

.s-ballon > .material-icons {
    float: right; margin-right: 5rem; font-size: 300px; color: #ddd;
}

@media screen and (max-width: 820px) {
    
    .h-content > ul {
        display: none;
        position: absolute;
        top: 0; right: 0;    
        z-index: 20;
        padding: .25rem 2rem .25rem 2rem;
        border: 1px solid #eee;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 1.0);
    }
    
    .h-content > ul > li { 
        float: none;
        margin: 0;
    }

    .h-content > ul > li > a {
        padding: .25rem;
    }

    .short-menu {
        float: right;
        margin-top: 2rem;
        padding: 0;
        margin-right: .5rem;
        color: #555;
    }
    .s-region {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .s-region > .s-left,
    .s-region > .s-right {
        width: 100%;
    }
    .s-title > label {
        padding-right: 0;
        font-size: 35px;
    }
    .s-description {
        padding-right: 0;
    }
    .s-person {
        float: none;
        height: 75%;
        width: 75%;
    }
    .s-ballon {
        display: none;
    }
}

@media screen and (min-width: 821px) {
    .short-menu {
        display: none;
    }
}

.arrows {
    margin-top: 1rem;
}

.fbx-button {
    background: #4267b2;
    color: white;
    border: 0;
    font-size: 8pt;
    padding: .25rem .375rem;
    cursor: pointer;
}
